<div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/employee">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/employee/personal-information">Personal Information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/employee/visa-status">Visa Status Mangement</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/employee/housing">Housing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</div>
