<div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/hr">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/hr/employee-profiles">
                    Employee Information
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/hr/visa-management">
                    Visa Status Mangement
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/hr/hiring-management">
                    Hiring Management
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/hr/housing-management">
                    Housing Management
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</div>
