<mat-card>
  <ng-container *ngIf="visaStatus; else slot">
  <button *ngIf="app?.visaStatus.status != 'done'" class="marginLeft"
          (click)="edit()" [disabled]="!disabled">Edit</button>
  <form [formGroup]="applicationForm" (ngSubmit)="submit()">
    <br>
    <h2 class="marginLeft" *ngIf="formStatus === 'unsubmitted'">Form hasn't been submited yet</h2>
    <h2 class="marginLeft" *ngIf="formStatus === 'pending'">Form is under HR review, you can resubmit it</h2>
    <h2 class="marginLeft" *ngIf="formStatus === 'done'">All documents have been approved</h2>
    <h2 class="marginLeft" *ngIf="formStatus === 'approved'">Please submit next document: {{app?.visaStatus?.next}}</h2>
    <h2 class="marginLeft" *ngIf="formStatus === 'rejected'">Form have been rejected, please resubmit it</h2>
    <br>
    <div class="my-3" class="marginLeft">
      <label for="workAuth" class="marginRight">What is your work authorization?</label>
      <br>
      <input type="radio" value="F1" name="workAuth" formControlName="workAuth" class="marginRight1">
      <label for="F1" class="marginRight">F1</label>
      <input type="radio" value="J1" name="workAuth" formControlName="workAuth" class="marginRight1">
      <label for="J1" class="marginRight">J1</label>
      <input type="radio" value="H1-B" name="workAuth" formControlName="workAuth" class="marginRight1">
      <label for="H1-B" class="marginRight">H1-B</label>
    </div>
    <br>

    <div class="my-3" *ngIf='!disabled && app?.visaStatus?.next == "OPT Receipt"'>
      <label for="opt">Upload OPT Receipt</label>
      <br>
      <input type="file" id="opt" (change)="OPTReceiptUrlSelect($event)">
    </div>
    <br>
    <div class="my-3" *ngIf="disabled && app?.visaStatus?.OPTReceiptUrl">
     <a href="{{app?.visaStatus?.OPTReceiptUrl}}" target="_blank" rel="noopener noreferrer">OPT Receipt</a>
    </div>

    <div class="my-3" *ngIf='!disabled && app?.visaStatus?.next == "OPT EAD"'>
      <label for="opt1">Upload EAD Card</label>
      <br>
      <input type="file" id="opt1" (change)="OPTEADurlSelect($event)">
    </div>
    <br>
    <div class="my-3" *ngIf="disabled && app?.visaStatus?.OPTEADurl">
     <a href="{{app?.visaStatus?.OPTEADurl}}" target="_blank" rel="noopener noreferrer">EAD Card</a>
    </div>

    <div class="my-3" *ngIf='!disabled && app?.visaStatus?.next == "I-983"'>
      <label for="opt2">Upload I-983</label>
      <br>
      <input type="file" id="opt2" (change)="I983Select($event)">
    </div>
    <br>
    <div class="my-3" *ngIf="disabled && app?.visaStatus?.I983">
     <a href="{{app?.visaStatus?.I983}}" target="_blank" rel="noopener noreferrer">I-983</a>
    </div>

    <div class="my-3" *ngIf='!disabled && app?.visaStatus?.next == "I-20"'>
      <label for="opt3">Upload I-20</label>
      <br>
      <input type="file" id="opt3" (change)="I20Select($event)">
    </div>
    <br>
    <div class="my-3" *ngIf="disabled && app?.visaStatus?.I20">
     <a href="{{app?.visaStatus?.I20}}" target="_blank" rel="noopener noreferrer">I-20</a>
    </div>

    <div class="wrapper">
      <mat-form-field class="big" class="marginRight2">
        <label for="startDate">Start Date</label>
        <input type="date" id="startDate" name="startDate" formControlName="startDate" matInput>
      </mat-form-field>
      <mat-form-field class="big">
        <label for="endDate">End Date</label>
        <input type="date" id="endDate" name="endDate" formControlName="endDate" matInput>
      </mat-form-field>
    </div>
      <br>
      <button class="btn btn-primary marginLeft" [disabled]="disabled">Submit Application</button>
  </form>
  </ng-container>
  <ng-template #slot>
    <h1>You are an US citizen / green card holder, the content of this section does not apply to you</h1>
  </ng-template>
  <br>
</mat-card>

