:host {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 100px 0px;
}

.mat-card {
  width:80%;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.small {
  width: 22%;
}

.big {
  width: 47%;
}

.medium {
  width: 30%;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.wrapper1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.marginRight {
  margin-right: 10px;
}

.marginRight1 {
  margin-right: 5px;
}

.marginLeft {
  margin-left: 1%;
}
