<div class="container-fluid">
<mat-card>
    <mat-card-title>Onboarding Application</mat-card-title>
    <br>

    <form [formGroup]="applicationForm" (ngSubmit)="submit()">
        <h2>Personal Information</h2>
        <mat-form-field>
            <label for="firstname">First Name</label>
            <br>
            <input type="text" id="firstname" name="firstname"
                   formControlName="firstname" matInput>
        </mat-form-field>

        <mat-form-field>
            <label for="lastname">Last Name</label>
            <input type="text" id="lastname" name="lastname"
                   formControlName="lastname" matInput>
        </mat-form-field>

        <mat-form-field>
            <label for="middlename">Middle Name</label>
            <input type="text" id="middlename" name="middlename"
                   formControlName="middlename" matInput>
        </mat-form-field>

        <mat-form-field>
            <label for="preferredname">Preferred Name</label>
            <input type="text" id="preferredname" name="preferredname"
                   formControlName="preferredname" matInput>
        </mat-form-field>

        <mat-form-field>
            <label for="email">Email</label>
            <input type="text" id="email" name="email"
                   formControlName="email" matInput>
        </mat-form-field>

        <mat-form-field>
            <label for="cellphone">Cell Phone Number</label>
            <input type="text" id="cellphone" name="cellphone"
                   formControlName="cellphone" matInput>
        </mat-form-field>

        <mat-form-field>
            <label for="workphone">Work Phone Number</label>
            <input type="text" id="workphone" name="workphone"
                   formControlName="workphone" matInput>
        </mat-form-field>

        <mat-form-field>
            <label for="ssn">Social Security Number</label>
            <input type="text" id="ssn" name="ssn"
                   formControlName="ssn" matInput>
        </mat-form-field>

        <div formGroupName="driverLicense">
            <h2>Driver's License</h2>

            <mat-form-field>
                <label for="number">License Number</label>
                <input type="text" id="number" name="number"
                       formControlName="number" matInput>
            </mat-form-field>

            <mat-form-field>
                <label for="expiration">License Expiration Date</label>
                <input type="date" id="expiration" name="expiration"
                       formControlName="expiration" matInput>
            </mat-form-field>

            <div class="my-3" *ngIf="editMode">
                <label for="img">Upload Driver's License (png, jpg, pdf)</label>
                <br>
                <input type="file" id="img" name="img"
                       (change)="driverLicenseFileSelect($event)">
            </div>

            <div class="my-3" *ngIf="!editMode">
                <a href="{{application?.driverLicense?.imgUrl}}"
                   target="_blank" rel="noopener noreferrer">
                   Driver's License
                </a>
            </div>
        </div>

        <div formGroupName="currentAddress">
            <h2>Current Address</h2>

            <mat-form-field>
                <label for="street">Street</label>
                <input type="text" id="street" name="street"
                       formControlName="street" matInput>
            </mat-form-field>

            <mat-form-field>
                <label for="suiteOrAptNumber">Suite/Apt Number</label>
                <input type="text" id="suiteOrAptNumber" name="suiteOrAptNumber"
                       formControlName="suiteOrAptNumber" matInput>
            </mat-form-field>

            <mat-form-field>
                <label for="city">City</label>
                <input type="text" id="city" name="city"
                       formControlName="city" matInput>
            </mat-form-field>

            <mat-form-field>
                <label for="state">State</label>
                <input type="text" id="state" name="state"
                       formControlName="state" matInput>
            </mat-form-field>

            <mat-form-field>
                <label for="zipcode">Zip Code</label>
                <input type="text" id="zipcode" name="zipcode"
                       formControlName="zipcode" matInput>
            </mat-form-field>
        </div>

        <div formGroupName="reference">
            <h2>Reference</h2>
            <mat-form-field>
                <label for="firstname">First Name</label>
                <br>
                <input type="text" id="firstname" name="firstname"
                       formControlName="firstname" matInput>
            </mat-form-field>

            <mat-form-field>
                <label for="lastname">Last Name</label>
                <input type="text" id="lastname" name="lastname"
                       formControlName="lastname" matInput>
            </mat-form-field>

            <mat-form-field>
                <label for="email">Email</label>
                <input type="text" id="email" name="email"
                       formControlName="email" matInput>
            </mat-form-field>

            <mat-form-field>
                <label for="phone">Phone Number</label>
                <input type="text" id="phone" name="phone"
                       formControlName="phone" matInput>
            </mat-form-field>
        </div>

        <div formGroupName="emergencyContact">
            <h2>Emergency Contact</h2>
            <mat-form-field>
                <label for="firstname">First Name</label>
                <br>
                <input type="text" id="firstname" name="firstname"
                       formControlName="firstname" matInput>
            </mat-form-field>

            <mat-form-field>
                <label for="lastname">Last Name</label>
                <input type="text" id="lastname" name="lastname"
                       formControlName="lastname" matInput>
            </mat-form-field>

            <mat-form-field>
                <label for="email">Email</label>
                <input type="text" id="email" name="email"
                       formControlName="email" matInput>
            </mat-form-field>

            <mat-form-field>
                <label for="phone">Phone Number</label>
                <input type="text" id="phone" name="phone"
                       formControlName="phone" matInput>
            </mat-form-field>
        </div>

        <div class="my-3">
        <label for="isCitizenUSA">Are you a citizen or permanent resident of the US?</label>
        <br>
        <input type="checkbox" id="isCitizenUSA" name="isCitizenUSA"
               formControlName="isCitizenUSA">
        </div>

        <div>
            <h2>Skip this section if answered yes to:
                "Are you a citizen or permanent resident of the US?"</h2>

            <div class="my-3">
                <label for="workAuth">What is your work authorization?</label>
                <div>
                <input type="radio" value="F1" name="workAuth" formControlName="workAuth">
                <label for="F1">F1</label>
                </div>
                <div>
                <input type="radio" value="J1" name="workAuth" formControlName="workAuth">
                <label for="J1">J1</label>
                </div>
            </div>

            <div class="my-3" *ngIf="editMode">
                <label for="opt"><b>If F1 (CPT/OPT):</b> Upload OPT Receipt</label>
                <br>
                <input type="file" id="opt" name="opt" (change)="optFileSelect($event)">
            </div>

            <div class="my-3" *ngIf="!editMode && application?.visaStatus?.OPTReceiptUrl">
                <a href="{{application?.visaStatus?.OPTReceiptUrl}}"
                   target="_blank" rel="noopener noreferrer">
                    OPT Receipt
                </a>
            </div>

            <mat-form-field>
                <label for="startDate">Start Date</label>
                <input type="date" id="startDate" name="startDate"
                       formControlName="startDate" matInput>
            </mat-form-field>

            <mat-form-field>
                <label for="endDate">End Date</label>
                <input type="date" id="endDate" name="endDate"
                       formControlName="endDate" matInput>
            </mat-form-field>
        </div>
        <button class="btn btn-primary">Submit Application</button>
    </form>
</mat-card>
</div>
