:host {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 100px 0px;
}

td,th {
  padding-left: 30px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.frontandcenter {
  position: fixed;
  top: 200px;
  margin-left: auto;
  margin-right: auto;
  left: 100px;
  right: 100px;
  z-index: 999;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(100, 100, 100, .25);
  z-index: 500;
  backdrop-filter: blur(2px);
}

table {
  width: 100%;
}

mat-card {
  width: 90%;
}
