:host {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.frontandcenter {
  position: fixed;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  overflow:auto;
  height: 90%;
  width: 90%;
}

.hidebtn {
  position: fixed;
  right: 200px;
  margin-right: 10px;
}

.feedback, .appaction {
  label {
    display: block;
  }
  text-align: center;
  margin: 0 auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(100, 100, 100, .25);
  z-index: 500;
  backdrop-filter: blur(2px);
}

table {
  width: 100%;
}

.mat-card {
  width:80%;
}

.small {
  width: 22%;
}

.big {
  width: 47%;
}

.medium {
  width: 30%;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.marginRight {
  margin-right: 10px;
}

.marginRight1 {
  margin-right: 5px;
}

.marginLeft {
  margin-left: 1%;
}
