<mat-card>
  <mat-card-title>Send Registration Link to New Employee</mat-card-title>
  <form [formGroup]="newEmployeeForm">
      <mat-form-field>
        <label for="email">New Employee Email Address</label>
        <br>
        <input type="text" id="email" name="email" formControlName="email" matInput>
      </mat-form-field>
      <mat-form-field>
        <label for="name">New Employee Full Name</label>
        <br>
        <input type="text" id="name" name="name" formControlName="name" matInput>
      </mat-form-field>
      <br>
      <br>
      <button (click)="submit()">Generate Token and Send Email</button>
  </form>
</mat-card>
<br>
<br>
<br>


